.study-card{

    width:100%;
    max-width:700px;

    height:380px;

    perspective:1200px;

    will-change: transform, opacity;

    transition:
        transform .35s ease,
        opacity .35s ease;
}

.study-card.leaving{

    transform:
        translateX(-120px)
        rotate(-8deg);

    opacity:0;
}

.study-card-inner{

    width:100%;
    height:100%;

    position:relative;

    transition:transform .45s ease;

    transform-style:preserve-3d;
}

.study-card.revealed .study-card-inner{

    transform:rotateY(180deg);

}

.study-face{

    position:absolute;

    inset:0;

    display:flex;

    justify-content:center;
    align-items:center;

    padding:40px;

    background:white;

    border-radius:24px;

    border:2px solid #e8e8e8;

    box-shadow:
        0 15px 45px rgba(0,0,0,.08);

    backface-visibility:hidden;
}

.study-front{

    transform:rotateY(0deg);

}

.study-back{

    transform:rotateY(180deg);

}

.study-face h2{

    font-size:3rem;

    text-align:center;

    line-height:1.4;

    font-weight:600;

}