.study-summary {
  max-width: var(--content-width-sm);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  text-align: center;
  padding: var(--space-7);
}

.summary-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-4);
}